body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

#tryItOn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#tryItOn:hover {
  background-color: #45a049;
}

.video-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin: 0 auto;
}

#cameraFeed {
  width: 100%;
  height: 100%;
  border: 3px solid #ddd;
  border-radius: 8px;
  object-fit: cover;
  transform: scaleX(-1); 
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(10%)
  /* transform: scaleX(-1);  */
}


